<template>
  <section>
    <p v-if="error"  style="color:white;background-color:red;">
      {{ mensaje }}
    </p>
    <div class="mb-3">
      <label for="usuario" class="form-label">Usuario</label>
      <input type="text" class="form-control" id="usuario" placeholder="admin" v-model="formLogin.usuario">
    </div>
    <div class="mb-3">
      <label for="contrasena" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="contrasena" placeholder="123456" v-model="formLogin.contrasena">
    </div>
    <p>
      <button type="button" class="btn btn-primary" @click="login">Ingresar al sistema</button>
    </p>
    <p>
      <button type="button" class="btn btn-success" @click="listarPersonas">Listar Personas</button>
    </p>
    <section>
      <p v-for="(persona, index) of personas" :key="index">
        {{ index + 1 }} - {{ persona.usuario }}
      </p>
    </section>
  </section>
</template>
<script>
import axios from 'axios'

export default {
  data () {
    return {
      urlBackend: 'http://localhost:3000',
      personas: [],
      error: false,
      mensaje: '',
      formLogin: {
        usuario: '',
        contrasena: ''
      }
    }
  },
  mounted () {
    axios.interceptors.response.use(response => response, (error) => {
      if ([400, 401, 403].includes(error.response.status)) {
        this.error = true
        this.mensaje = error.response.data ? error.response.data.mensaje : 'Ocurrio un error al realizar su peticion.'
      }
      return Promise.reject(error)
    })

    axios.interceptors.request.use((request) => {
      const token = localStorage.getItem('token')
      if (token) {
        request.headers.Authorization = `Bearer ${token}`
      }
      return request
    })
  },
  methods: {
    async listarPersonas () {
      const init = {
        url: `${this.urlBackend}/personas`,
        method: 'GET'
      }
      try {
        const { data } = await axios(init)
        this.personas = data.datos.rows
      } catch (error) {
      }
    },
    async login () {
      try {
        const init = {
          url: `${this.urlBackend}/public/login`,
          method: 'POST',
          data: this.formLogin
        }
        const { data } = await axios(init)
        this.error = false
        this.mensaje = ''
        localStorage.setItem('token', data.datos.token)
        localStorage.setItem('usuario', data.datos.usuario)
      } catch (error) {
        console.log('====================_MENSAJE_A_MOSTRARSE_====================')
        console.log(error)
        console.log('====================_MENSAJE_A_MOSTRARSE_====================')
      }
    }
  }
}
</script>
